@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@media (max-width: 884px) {
  body {
    font-size: 14px;
  }

  header nav {
    flex-direction: column;
  }

  nav a {
    font-size: 0.9rem;
  }

  #port h1 {
    font-size: 2.5rem;
  }

  #lorem-ipsum {
    font-size: 1.2rem;
  }
  #img {
    width: 0px;
    height: 0px;
  }

  .animated-button{
    width: 100%;
  }
}

body {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(5,1,35,1) 61%, rgba(41,2,78,1) 100%);
  color: white;
  font-family: 'Roboto', sans-serif;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  justify-items: center;
  margin-top: 0.4rem;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 0.2rem;
  font-size: 0.75rem;
  display: flex;
  display: inline-block;
}

a {
  background-color: transparent;
  color: #fdfdfd;
  transition: color 1.0s ease, background-color 0.3s ease;
  position: relative;
  overflow: hidden;
  padding: 0.6rem;
  border-radius: 2rem;
}

nav a:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  transform-origin: top left;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}

a:hover {
  color: #480052;
  background-color: #ffffff;
}

main {
  display: flex;
  flex-direction: row;
}

#port {
  padding: 0rem;
  margin-left: 2rem;
  margin-top: 7rem;
}

#port h1 {
  font-size: 4rem;
  letter-spacing: 0.4rem;
  font-weight: bold;
}

#lorem-ipsum {
  margin-top: -1rem;
  font-size: 1.4rem;
  font-weight: bold;
}


#img{
  display: flex;
  padding-left: 10rem;
  margin-top: 5rem;
  border-radius: 7rem;
  position: absolute;
  right: 10px;
}

main {
  position: relative;
  animation: flutuarTexto 2s ease-in-out infinite;
}

@keyframes flutuarTexto {
  0% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}

.animated-button {
  padding: 15px 30px;
  background-image: linear-gradient(100deg, #86327f, #58014a);
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
  position: relative;
  overflow: hidden;
  transition: all 0.3s;
  width: 100%;
}

.animated-button::before {
  content: "";
  position: absolute;
  background-color: rgba(255, 255, 255, 0.3);
  width: 100%;
  height: 100%;
  top: 0;
  left: -100%;
  transition: all 0.3s;
  z-index: -1;
}

.animated-button:hover {
  background-image: #ffffff;
  color: rgb(2,0,36);
}

.animated-button:hover::before {
  left: 0;
}

#port {
  background-image: linear-gradient(100deg, #e469d9, #910078);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: gradient-animation 5s linear infinite;
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
